<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/Style/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tournois</title>
</head>
<body>
<header>
  <h1>Tournois Esport</h1>
  <div>
    <div class="fondgris">
      <div class="nom">
        <div class="sepa">
          <img class="icone" src="/Img/icone.jpeg" alt="ma photo de cv" />
          <h2>HEL</h2>
        </div>
        <div></div>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/addTournois">AddTournois</a></li>
          <li><a href="/addEquipes">AddEquipe</a></li>
          <li><a href="/Equipes">Equipe</a></li>
          <li><a href="/viewTournois">Tournois</a></li>
          <li class=""><a sec:authorize="!isAuthenticated()" th:href="@{/oauth2/authorization/auth0}">Login</a></li>
          <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="sepaT">
    <div>
      <h2>Bienvenue sur votre compte HEL</h2>
    </div>
    <div class="sepaUser">
      <form action="/addEquipesForm" method="post" class="inscription" name="equipesadd">
        <fieldset id="registerTournois">
          <h5>Nom de l'equipe : </h5>
          <input name="name">
          <h5>Jeux :</h5>
          <select type="select" name="jeux">
            <nom>jeux</nom>
            <libellé>Quelle est le jeux de l'equipe ?</libellé>
            <option value="league of legends">League of legends</option>
            <option value="CSGO">CSGO</option>
            <option value="dota">Dota 2</option>
            <option value="overwatch">Overwatch</option>
            <option value="starcraft">starcraft 2</option>
          </select>
          <h5>Nombre de joueur : </h5>
          <input type="number" name="nbplayer">
          <h5>Visible ou pas ? : </h5>
          <input name="visible"></br>
          <input class="hiden" name="idequipe" value=0></br>
          <input class="hiden" name="nbwin" value=0></br>
          <input type="submit" value="Valider" id="submit">

        </fieldset>

      </form>

    </div>

  </div>
</main>
<footer class="footer"></footer>
</body>

</html>