<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/Style/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tournois</title>
</head>
<body>
<header>
  <h1>Tournois Esport</h1>
  <div>
    <div class="fondgris">
      <div class="nom">
        <div class="sepa">
          <img class="icone" src="/Img/icone.jpeg" alt="ma photo de cv" />
          <h2>HEL</h2>
        </div>
        <div></div>
      </div>
      <div class="menu">
        <ul>
          <li><a href="">Accueil</a></li>
          <li><a href="">Tournois</a></li>
          <li><a href="">Equipe</a></li>
          <li><a href="">Classement</a></li>
          <li class=""><a href="">Login</a></li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="sepaT">
    <div>
      <h2>Bienvenue sur votre compte HEL</h2>
    </div>
    <div class="sepaUser">
      <form action="/addTournoisForm" method="post" class="inscription" name="tournoisadd">
        <fieldset id="registerTournois">
          <h5>Nom du tournois : </h5>
          <input name="name">
          <h5>Date du tournois : </h5>
          <input name="date">
          <h5>Jeux :</h5>
          <libellé name="jeux">Quelle est le jeux du tournois ?</libellé>
          <option value="league of legends">League of legends</option>
          <option value="CSGO">CSGO</option>
          <option value="dota">Dota 2</option>
          <option value="overwatch">Overwatch</option>
          <option value="starcraft">starcraft 2</option>
          </select>
          <h5>Nombre de joueur : </h5>
          <input name="nbPart">
          <h5>Visible ou pas ? : </h5>
          <input name="visible">
          <input type="submit" value="Valider" name="register" id="submit">

        </fieldset>

      </form>

    </div>

  </div>
</main>
<footer class="footer"></footer>
</body>
</html>
