<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Style/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tournois</title>
</head>
<body>
<header>
    <h1>Tournois Esport</h1>
    <div>

        <div class="fondgris">

            <div class="nom">
                <div class="sepa">
                    <img class="icone" src="/Img/icone.jpeg" alt="ma photo de cv">
                    <h2>HEL</h2>
                </div>
                <div>
                </div>
            </div>
            <div class='menu'>
            <ul>
                <li><a href=''>Accueil</a></li>
                <li><a href=''>Tournois</a></li>
                <li><a href=''>Equipe</a></li>
                <li><a href=''>Classement</a></li>
                <li class=''><a href=''>Login</a></li>
                <li><a href=''>Register</a></li>
                </ul>

        </div>
    </div>
    </div>
</header>
<main>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Jeux</th>
                <th>NbPart</th>
                <th>Visible</th>
                <th>Date</th>
            </tr>
            <tr th:each="tournoi : ${tournois}">
                <td th:text="${tournoi.getName()}"></td>
                <td th:text="${tournoi.getJeux()}"></td>
                <td th:text="${tournoi.getNbPart()}"></td>
                <td th:text="${tournoi.getVisible()}"></td>
                <td th:text="${tournoi.getDate()}"></td>

            </tr>
        </table>
    </div>
    </div>
</main>
<footer class="footer">

</footer>

</body>
</html>


